numpy==1.22.2
pandas==1.4.1
matplotlib==3.5.1
scikit-learn==0.24.2
imbalanced-learn==0.8.1
auto-sklearn==0.14.6
mlflow==1.25.1
kaggle==1.5.12
openml==0.12.2
tqdm==4.62.3

pylint==2.13.7
pylama==8.3.8
flake8==4.0.1
mypy==0.942
